@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
  font-family: 'Poppins', sans-serif;
}

header{
  background: url('../images/bg-hero-desktop.svg') no-repeat center center/cover;
  background: url('../images/bg-hero-mobile.svg') no-repeat center center/cover;
}

.btn{
  text-transform: none;
  border: none;
}
